{% load static %}

<div class="navbar">
    <div class="menu-toggle" id="menu-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <div class="logo-container">
        <a href="{% url 'blogs' %}" class="logo-link">
            <img src="{% static 'images/orlan.png' %}" alt="Logo" class="logo">
            <p class="logo-txt">NEWS BLOG</p>
        </a>
    </div>
    <div class="user-icon-container">
       {% if request.user.is_authenticated %}
       <a href="{% url 'account' %}" class="user-icon-link">
            <img src="{{request.user.profile.profile_image.url}}" alt="User Icon" class="user-icon">
       </a> 
       {% else %}
       <a href="{% url 'account' %}" class="user-icon-link">
            <img src="{% static 'images/user-icon.png' %}" alt="User Icon" class="user-icon">
       </a>
       {% endif %}
    </div>

    <div class="navbar-links">
        <div class="language-selector">
            <div class="selected-language">
                <img src="{% static 'images/icon-united-kingdom.png' %}" alt="UK Flag">
                <span>EN</span>
            </div>
                <ul class="language-options">
                    <a href="#">
                        <li data-value="ru">
                            <img src="{% static 'images/icon-united-kingdom.png' %}" alt="UK Flag"> EN
                        </li>
                    </a>
                    <a href='#'>
                        <li data-value="tk">
                            <img src="{% static 'images/icon-turkmenistan.png' %} " alt="Turkmenistan Flag"> TM
                        </li>
                    </a>
                    <a href="#">
                        <li data-value="en">
                            <img src="{% static 'images/icon-russia.png' %}" alt="Russia Flag"> RU
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="sidebar" id="sidebar">
    <div class="sidebar-close" id="sidebar-close">&times;</div>
    


    {% if request.user.is_authenticated %}
    <a href="{% url 'account' %}" class="sidebar-link">Profile</a>
    <a href="{% url 'user-favorites' %}" class="sidebar-link">Your Favorites</a>
    <br>
    <a href="{% url 'logout' %}" class="sidebar-link">Log out</a>
    {% else %}
    <a href="{% url 'login' %}" class="sidebar-link">Profile</a>
    {% endif %}
</div>