{% extends 'global/main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <form method="GET" action="" class="search-form">
        <div class="form-group">
            <select name="q_category" class="search-select">
                <option value="">Category</option>
                {% for category in categories %}
                <option value="{{category.name}}" {% if request.GET.q_category == category.name %}selected{% endif %}>
                    {{category.name}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="text" name="q_name" placeholder="Search for something..." value="{{ request.GET.q_name}}" class="search-input">
        </div>
        <button type="submit" class="search-button">Go</button>
        <a href="{% url 'blogs' %}" class="cancel-button">Clear</a>
    </form>

    <!-- <form method="GET" action="" class="search-form">
        <div class="form-group">
            <input type="text" name="q_name" placeholder="Search for something..." value="{{ request.GET.q_name}}" class="search-input">
        </div>
        <button type="submit" class="search-button">Go</button>
        <a href="{% url 'blogs' %}" class="cancel-button">Clear</a>
    </form> -->

    <div class="product-grid">
        {% for blog in all_blogs %}
        <div class="card">
            <a href="{% url 'blog' blog.id %}" class="card-link">
                <div class="img-div">
                    <img src="{{blog.blog_image.url}}" alt="{{blog.title}}" class="card-img">
                </div>
            </a>
            <div class="card-body">
                <a href="{% url 'blog' blog.id %}" class="card-link">
                    <h5 class="card-title">
                        <p class="card-link">{{blog.title}}</p>
                    </h5>
                    <p class="card-text">
                        <strong></strong> {{blog.content|truncatewords:10}}<br>
                        <br>
                    </p>
                    <p class="card-created_at">
                        <strong></strong> {{blog.created_at}}
                    </p> 
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}