{% extends 'global/main_ru.html' %}
{% load static %}
{% block content %}
<div class="product-container">
    <h1>{{blog.title_ru}}</h1>
    <br>
    <p><span></span>{{blog.created_at|date:"d.m.Y"}}</p>
    <br>
    <div class="product-image">
        <a href="{{blog.blog_image.url}}"><img src="{{blog.blog_image.url}}" alt="{{blog.title_ru}}"></a>

        <br>

        <button id="favorite-btn" data-id="{{blog.id}}" class="heart-button">
            <span id="heart-icon" class="{% if status %}filled{% endif %}">
                &#9733;
            </span>
            <span id="favorite-text" class="favorite-text">{% if status %}Добавлено{% else %}Добавить в избранное{% endif %}</span>
        </button>

        <br>

        <div class="like-button">
            <button id="like-btn" data-id="{{ blog.id }}" class="like">
                <span id="like-icon" class="{% if liked %}filled{% endif %}">
                    <svg class="like-icon" fill-rule="nonzero" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                    </svg>
                    <span class="like-text">Likes</span>
                </span>
            </button>
            <span class="like-count one">{{ blog.likes_count }}</span>
        </div>
        
    </div>
    <div class="product-details">
        <p><span></span>{{blog.content_ru|linebreaks}}</p>
        <h2>Комментарии</h2>
        <ul>
            {% for comment in comments %}
                <li>
                    <strong>{{ comment.author.firstname }} {{ comment.author.lastname }}</strong> ({{ comment.created_at|date:"d.m.Y" }}): 
                    {{ comment.text_ru }}
                </li>
            {% empty %}
                <li>Пока нет комментариев.</li>
            {% endfor %}
        </ul>

        {% if request.user.is_authenticated %}
        <h3>Оставить комментарий</h3>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="comment-form-container" type="submit">Добавить комментарий</button>
        </form>
        {% else %}
        <p>Чтобы оставить комментарий, нужно <a href="{% url 'login' %}">войти</a> или <a href="{% url 'register' %}">зарегистрироваться</a>.</p>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block for_script %}
<script src="{% static 'js/favorites.js' %}"></script>
<script src="{% static 'js/likes.js' %}"></script>
{% endblock %}