{% extends 'global/main_tm.html' %}
{% load static %}
{% block content %}

<div class="container">
    <form method="GET" action="" class="search-form" aria-label="Search form">
        <div class="form-group">
            <select name="q_category" class="search-select" aria-label="Select category">
                <option value="">Kategoriýa</option>
                {% for category in categories %}
                <option value="{{category.name}}" {% if request.GET.q_category == category.name %}selected{% endif %}>
                    {{category.name_tm}}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input type="text" name="q_name" placeholder="At ýa-da mazmuny boýunça gözle..." value="{{ request.GET.q_name}}" class="search-input" aria-label="Search input">
            <input type="hidden" name="page" value="{{ request.GET.page }}">
        </div>
        <button type="submit" class="search-button" aria-label="Submit search">Gözle</button>
        <a href="{% url 'blogs_tm' %}" class="cancel-button" aria-label="Clear filters">Arassala</a>
    </form>

    <div class="product-grid">
        {% for blog in all_blogs %}
        <div class="card">
            <a href="{% url 'blog_tm' blog.id %}" class="card-link">
                <div class="img-div">
                    <img src="{{blog.blog_image.url}}" alt="{{blog.title}}" class="card-img">
                </div>
            </a>
            <div class="card-body">
                <a href="{% url 'blog_tm' blog.id %}" class="card-link">
                    <h5 class="card-title">
                        <p class="card-link">{{blog.title_tm}}</p>
                    </h5>
                    <p class="card-text">
                        <strong></strong> {{blog.content_tm|truncatewords:10}}<br>
                        <br>
                    </p>
                    <p class="card-created_at">
                        <strong></strong> {{blog.created_at|date:"d.m.Y"}}
                    </p> 
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        {% endif %}
    
        {% for num in page_obj.paginator.page_range %}
            {% if num == 1 or num == page_obj.paginator.num_pages %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                {% if page_obj.number == num %}
                    <span class="current">{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% elif num == page_obj.number|add:'-3' or num == page_obj.number|add:'3' %}
                <span>...</span>
            {% endif %}
        {% endfor %}
    
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        {% endif %}
    </div>
</div>
{% endblock content %}