{% extends 'global/main.html' %}
{% load static %}
{% block content %}
<div class="product-container">
    <h1>{{blog.title}}</h1>
    <br>
    <p><span></span>{{blog.created_at}}</p>
    <br>
    <div class="product-image">
        <img src="{{blog.blog_image.url}}" alt="{{blog.title}}">
        <button id="favorite-btn" data-id="{{blog.id}}" class="heart-button">
            <span id="heart-icon" class="{% if status %}filled{% endif %}">
                &#9825;
            </span>
        </button>
        <div class="like-button">
        <input class="on" id="heart" type="checkbox" />
        <label class="like" for="heart">
        <svg
            class="like-icon"
            fill-rule="nonzero"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
        >
            <path
            d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
            ></path>
        </svg>
        <span class="like-text">Likes</span>
        </label>
        <span class="like-count one">68</span>
        <span class="like-count two">69</span>
        </div>
    </div>
    <div class="product-details">
        <p><span></span>{{blog.content}}</p>
        <h2>Comments</h2>
        <ul>
            {% for comment in comments %}
                <li>
                    <strong>{{ comment.author.firstname }} {{ comment.author.lastname }}</strong> ({{ comment.created_at }}): 
                    {{ comment.text }}
                </li>
            {% empty %}
                <li>No comments yet.</li>
            {% endfor %}
        </ul>

        {% if request.user.is_authenticated %}
        <h3>Leave a Comment</h3>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="comment-form-container" type="submit">Add Comment</button>
        </form>
        {% else %}
        <p>You need to <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">Sign up</a> to comment.</p>
        {% endif %}


        <hr>
        <br>
        {% if blog.author == request.user.profile %}
        <a href="{% url 'account' %}" class="card-link">
            <p class="card-text card-link1">
                <strong>Author:</strong> {{blog.author.firstname}} {{blog.author.lastname}}<br>
            </p>
        </a>
        {% else %}
        <a href="{% url 'profile' blog.author.id %}" class="card-link">
            <p class="card-text card-link1">
                <strong>Author:</strong> {{blog.author.firstname}} {{blog.author.lastname}}<br>
            </p>
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block for_script %}
<script src="{% static 'js/favorites.js' %}"></script>
{% endblock %}