{% extends 'global/main.html' %}
{% load static %}
{% block content %}
    <div class="profile-container">
        <div class="profile-card">
            <h3>Favorites</h3>
            <div class="product-grid">
                {% for favorite in favorites %}
                <div class="card">
                    <a href="{% url 'blog' favorite.blog.id %}" class="card-link">
                        <div class="img-div">
                            <img src="{{favorite.blog.blog_image.url}}" alt="{{favorite.blog.tite}}" class="card-img">
                        </div>
                    </a>
                    <div class="card-body">
                        <a href="{% url 'blog' favorite.blog.id %}" class="card-linl">
                            <h5 class="card-title">
                                <p class="card-link">{{favorite.blog.title}}</p>
                            </h5>
                            <p class="card-text">
                                <strong>content:</strong> <span style="color: purple;">{{favorite.blog.content|truncatewords:5}}</span>
                            </p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}