{% extends 'global/main_tm.html' %}
{% load static %}
{% block content %}
    <div class="profile-container">
        <div class="profile-card">
            <h3>Halanlarym</h3> <br>
            <div class="product-grid">
                {% for favorite in favorites %}
                <div class="card">
                    <a href="{% url 'blog_tm' favorite.blog.id %}" class="card-link">
                        <div class="img-div">
                            <img src="{{favorite.blog.blog_image.url}}" alt="{{favorite.blog.tite_tm}}" class="card-img">
                        </div>
                    </a>
                    <div class="card-body">
                        <a href="{% url 'blog_tm' favorite.blog.id %}" class="card-link">
                            <h5 class="card-title">
                                <p class="card-link">{{favorite.blog.title_tm}}</p>
                            </h5>
                            <p class="card-text">
                                <strong></strong> {{favorite.blog.content_tm|truncatewords:5}}<br>
                                <br>
                                <strong></strong> {{favorite.blog.created_at|date:"d.m.Y"}}
                            </p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}