{% extends 'global/main.html' %}
{% load static %}

{% block content %}
<div class="forgot-password-wrap">
<div class="form-container1">
      <div class="logo-container1">
        Forgot Password
      </div>

      <form class="form">
        <div class="form-group1">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Enter your email" required="">
        </div>

        <button class="form-submit-btn" type="submit">Send Email</button>
      </form>

      <p class="signup-link">
        Don't have an account?
        <a href="{% url 'register' %}" class="signup-link link"> Sign up now</a>
      </p>
    </div>
  </div>
{% endblock %}