{% extends 'global/main.html' %}
{% load static %}

{% block content %}z
<div class="login-wrap">
    <div class="login-container">
        <form class="login-form" method="post">
            {% csrf_token %}
            <h2>Сброс пароля</h2>

            {% if messages %}
                {% for message in messages %}
                <p class="error-msg">{{message}}</p>
                {% endfor %}
            {% endif %}

            <p>Введите ваш email для получения инструкции по сбросу пароля:</p> <br>
            {{ form.as_p }} <br>
            <button class="login-button" type="submit">Отправить</button>
        </form>
    </div>
</div>

{% endblock %}